@tailwind base;
@tailwind components;
@tailwind utilities;

/* 2. Пользовательские переменные и глобальные правила в слое base */
@layer base {
  :root {
    --foreground: 20 14.3% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;

    --primary: 70 1% 51%;
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 0 0% 96%;
    --secondary-foreground: 24 9.8% 10%;

    --muted: 70 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;

    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;

    --destructive: 195 13.0% 42.0%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 20 5.9% 90%;
    --input: 0 0% 90%;
    --ring: 24.6 95% 53.1%;
    --radius: 1rem;

    --font-nunito: 'Nunito', sans-serif;
  }

  /* Плавный скроллинг по всей странице */
  html {
    @apply scroll-smooth;
  }

  /* Резерв для пользователей с reduced-motion */
  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }

  /* Базовые стили для body */
  body {
    @apply bg-background text-foreground font-sans;
    font-family: var(--font-nunito), sans-serif;
  }

  /* Отступ при якорном скролле для .product-group-section */
  .product-group-section {
    scroll-margin-top: 85px;
  }
}

/* 3. Компоненты — пример */
@layer components {
  .card {
    @apply border border-border rounded-[var(--radius)] p-4 shadow-md bg-card text-card-foreground;
  }
}

/* 4. Утилиты — кастомные и Tailwind‑утилиты */
@layer utilities {
  /* Текст с балансом переносов */
  .text-balance {
    text-wrap: balance;
  }

  /* Кастомный скроллбар */
  .scrollbar::-webkit-scrollbar {
    width: 4px;
  }
  .scrollbar::-webkit-scrollbar-track {
    border-radius: 6px;
    background: #fff;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    background: #dbdadd;
    border-radius: 6px;
  }
  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #bfbec0;
  }
}

#nprogress .bar {
  @apply bg-primary !important;
}

#nprogress .peg {
  @apply shadow-md shadow-primary !important;
}

#nprogress .spinner-icon {
  @apply border-t-primary border-l-primary !important;
}